
/*Elements*/

.dropdown-content li>a {
  font-size: 1.0rem;
}

.btn {
  background-color: #64b5f6 !important;
  box-shadow: none;
  text-transform: none;
}

.btn:hover {
  background-color: #039be5 !important;
  box-shadow: none;
}

.btn:focus {
  background-color: #64b5f6 !important;
}

.btn i {
  font-size: 1.0rem;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px 10px 10px 0px;
    font-size: 10px;
    padding: 0 1rem;
    height: 28px;
    line-height: 31px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

footer.page-footer {
  position:relative;
}

/*Table Elements*/

tr {
  height: 60px;
}

td {
  padding: 2px 5px;
}

/*Form Customization*/

input[type=email]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #64b5f6;
  box-shadow: 0 1px 0 0 #64b5f6;
}

/*Formatting*/

h1.title, .input-field label {
  color: #d32f2f;
}

/*Navigation*/

nav .brand-logo {
  margin: 5px 0 0 0;
}

.dropdown-content {
  margin-top: 64px;
}

.side-nav li a, .dropdown-content li a {
  color: #B71C1C;
}

/* Google map */

#map {
  width: 100%;
  height: 100%;
}

/*Hero*/

.overlay {
    position: absolute;
    top: 35%;
    color: #FFF;
    text-align: center;
    font-size: 60px;
    /*background-color: rgba(1, 1, 1, 0.3);*/
    width: 100%;
    height: 100%;
    padding: 10px 0;
    /*z-index: 2147483647;*/
}

.overlay .hero-signup {
  font-size: 20px;
}

.btn.hero-signup {
  width: 136;
  height: 38px;
  background-color: #b71c1c !important;
}

.btn.hero-signup a {
  color: #fff;
}

.hero_video {
  z-index: 1;
  width: 100% !important;
}

.video-container {
  position: relative;
  width: 100% !important;
  padding-top: 0px;
}

/*Content*/

.package-details-header {
  background-color: #ffebee;
  color:#b71c1c;
  border: 1px solid #cfd8dc;
}

.package-details {
  border-bottom: 1px solid #cfd8dc;
  border-left: 1px solid #cfd8dc;
  border-right: 1px solid #cfd8dc;
}

/*Assets*/

#avatar {
  max-width: 250px;
  margin: 40px 0 0 0;
  border: 8px solid #b71c1c;
  border-radius: 150px;
}

/*Media Queries*/

@media only screen
  and (min-width: 993px) {
    .container {
      width: 85% !important;
    }
    /*.overlay {
      font-size: 100px;
    }*/
    h2.signup_driver {
      font-size: 31px;
      text-transform: uppercase;
      font-weight: 600;
    }

    h2.signup_customer {
      font-size: 27px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

@media only screen
  and (min-width: 601px)
  and (max-width: 992px) {
    .overlay {
      font-size: 45px;
    }
    .overlay .hero-signup {
      font-size: 15px;
    }

    h2.signup_driver {
      font-size: 31px;
      text-transform: uppercase;
      font-weight: 600;
    }

    h2.signup_customer {
      font-size: 27px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }


  @media only screen
    and (max-width: 600px) {
      .overlay {
        font-size: 40px;
        top: 20%;
      }
      .overlay .hero-signup {
        font-size: 18px;
      }

      td {
        font-size:12px;
      }
      h2.signup_driver {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 600;
      }

      h2.signup_customer {
        font-size: 17px;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
