.btn {
  background-color: #64b5f6 !important;
  box-shadow: none;
  text-transform: none;
}

.btn:hover {
  background-color: #039be5 !important;
  box-shadow: none;
}

.btn:focus {
  background-color: #64b5f6 !important;
}

/*Form Customization*/

input[type=email]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #64b5f6;
  box-shadow: 0 1px 0 0 #64b5f6;
}

/*Formatting*/

h1.title, .input-field label {
  color: #d32f2f;
}

/*Logo*/

nav .brand-logo {
  margin: 5px 0 0 0;
}

/* Google map */
#map {
  width: 100%;
  height: 100%;
}

/*Media Queries*/

@media only screen
  and (min-width: 993px) {
    .container {
      width: 85% !important;
    }
  }
