<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">



  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>

<div class="video-container">

  <ul id="dropdown" class="dropdown-content">
    <li><a href="/profile">Profile</a></li>
    <li><a href="/profile/edit">Edit Profile</a></li>
    <li><a href="/history">History</a></li>
      <% if @current_user && @current_user.type == "Driver" %>
        <li class="divider"></li>
      <% end %> 
    <li><a href="/logout">Logout</a></li>
  </ul>

  <nav style="position: absolute; box-shadow: none; z-index: 1000;" class="transparent">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><img src="/assets/logo_small.png"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <!-- web menu nav-bar -->
      <ul class="right hide-on-med-and-down">
        <% unless session[:id] %>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup_customer">Sign Up</a></li>
        <% else %>
          <% if @current_user && @current_user.type == "Customer" %>
            <li><a href="/packages/new">New Package</a></li>
            <li><a href="/dashboard">My Packages</a></li>
          <% elsif @current_user && @current_user.type == "Driver" %>
            <li><a href="/dashboard">My Deliveries</a></li>
            <li><a href="/new_deliveries">New Deliveries</a></li>
            <li><a href="/history">History</a></li>
          <% end %>

          <li><a href="/profile" class="dropdown-button" data-activates="dropdown">Hi, <%= @current_user.first_name %><i class="material-icons right">arrow_drop_down</i></a></li>
        <% end %>
      </ul>
      <!-- mobile menu nav-bar -->
      <ul class="side-nav" id="mobile-demo">
        <% unless session[:id] %>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup_customer">Sign Up</a></li>
        <% else %>
          <% if @current_user && @current_user.type == "Customer" %>
            <li><a href="/packages/new">New Package</a></li>
            <li><a href="/dashboard">My Packages</a></li>
          <% elsif @current_user && @current_user.type == "Driver" %>
            <li><a href="/dashboard">My Deliveries</a></li>
            <li><a href="/new_deliveries">New Deliveries</a></li>
            <li><a href="/history">History</a></li>
        <% end %>
          <li><a href="/profile">My Account</a></li>
          <li><a href="/logout">Logout</a></li>
        <% end %>
      </ul>
    </div>
  </nav>


  
  <div class="video-container">
      
      <video class="hero_video" class="video-container no-controls" preload="auto" loop="loop" autoplay>
        <source src="/assets/shipit_lowres.mp4" type="video/mp4"> 
      </video>
     

      <div class="overlay" class="row"> 
        <% if @current_user && @current_user.type == "Driver" %> 
          <span class="col l6 s6">Delivering packages. Made easy.</span>
        <% else %> 
          <span class="col l6 s6">Sending packages. Made easy.</span>
        <% end %> 
        
        <br/>
        <% if @curernt_user && @current_user.type == "Customer" %>
          <a href="/signup_customer"> <button class="btn waves-effect waves-light hero-signup" type="submit" name="action">Start Shipping</button></a>
        <% elsif @curernt_user && @current_user.type == "Driver" %>
          <a href="/new_deliveries"> <button class="btn waves-effect waves-light hero-signup" type="submit" name="action">Start Delivering</button></a>
        <% else %>
          <a href="/packages/new"> <button class="btn waves-effect waves-light hero-signup" type="submit" name="action">Start Shipping</button></a>
        <% end %>
      </div>

  </div>

</div>

  <footer class="page-footer red darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Ship It</h5>
          <p class="grey-text text-lighten-4">This was a project developed by Andrea Cabral, Brian Lu, Stephanie Chuo-Lee, Sumit Sekhri of the Lighthouse Labs Web Development July Cohort. Based on Samuel Graham-Douglas' "Uber for Shipping" concept.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">More</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
            <li><a class="grey-text text-lighten-3" href="/signup_customer">Sign Up</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
            <li><a class="grey-text text-lighten-3" href="http://lighthouselabs.ca">Lighthouse Labs</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2015 Ship It Co.
      <a class="grey-text text-lighten-4 right" href="#!">About Us</a>
      </div>
    </div>
  </footer>

</body>
</html>
