<h1>Start Delivering Now</h1>


<form action="/signup_driver" method="POST">
	<%= erb :'signup_form' %>

  <h2> License </h2>
 <div>
    <label for="license">License:</label>
    <input type="license" id="" name="license">
  </div>

  <div>
    <label for="province">Province:</label>
    <input type="province" id="" name="province">
  </div>

  <div>
    <label for="license_expiry">License Expiry:</label>
    <input type="license_expiry" id="" name="license_expiry">
  </div>

  <input type="submit" value="Submit">

</form>
