<h1>Signup Here</h1>

<form action="/signup_customer" method="POST">
	<%= erb :'signup_form' %>

  <input type="submit" value="Submit">
</form>


<span>Are you a driver?<a href="/signup_driver">Sign Up</a></span>
