<ul class="error"> 
  <% if @user && @user.errors.any? %> 
    <% @user.errors.full_messages.each do |message| %>
      <li> <%= message %> </li>
      <% end %> 
  <% end %> 
</ul>

<h2>Account</h2>

    <div>
      <label for="email">Email:</label>
      <input type="text" id="" name="email"><br>
    </div>
    <div>
      <label for="password_hash">Password:</label>
      <input type="password_hash" id="" name="password_hash">
    </div>

    <h2>Profile</h2>
    <div>
      <label for="first_name">First Name:</label>
      <input type="text" id="" name="first_name"><br>
    </div>
    <div>
      <label for="last_name">Last Name:</label>
      <input type="last_name" id="" name="last_name">
    </div>
    <div>
      <label for="phone_number">Phone Number:</label>
      <input type="phone_number" id="" name="phone_number">
    </div>

  